
#flexDisplay {
	display: flex; 
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body {
	font-family: 'Lato';
	font-size: 0.9rem;
}

td, th {
	border: 1px solid #999;
	padding: 0.2rem;
	text-align: left;
}

table {
	border-collapse: collapse;
	margin-bottom: 1rem;
}

.blank10 {
	flex: 10%;
}

.blank15 {
	flex: 15%;
}

.blank20 {
	flex: 20%;
}

.blank25 {
	flex: 25%;
}

.column {
	flex: 100%;
}

li {
	font-style: italic;
	list-style-type: circle;
	margin: 0 0 0 10px;
}

h1 {
	font-weight: bold;
	font-family: 'Lato';
	font-size: 2rem;
}

h2 {
	font-weight: bold;
	font-family: 'Lato';
	font-size: 1rem;
}

p1 {
	font-weight: bold;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 24px;
	text-align: center;
}

p2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
